* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.flex {
    display: flex;
}

.nav1 {
    background-color: #ef7a15;
    width: 100vw;
    height: 7.5vh;

}

.nav1 ul {
    margin-left: 10%;
    margin-top: 10px;
}

.nav1 ul li {
    font-family: 'Roboto-Regular', 'Helvetica Neue', Helvetica, Tahoma, Arial, Sans-serif;
    text-align: right;
    display: inline;
    margin-left: 10px;
    font-size: 18px;
    height: 25px;
    line-height: 25px;
    white-space: nowrap;

    padding: 7px 5px;
    cursor: pointer;
    color: white;

    padding: 0 17px;
    font-weight: bold;
    text-decoration: none;
}

.nav1 a {
    color: white;
    transition: all .3s ease-in-out;
    text-decoration: none;
    text-shadow: #fbfaf5 0px 0px 0.1px;

}

.nav1 a:hover {
    border-bottom: 5px solid #fff;
    padding-bottom: 12px;
    font-size: 19px;
    transform: scale(1.5);
}

:active {
    border-bottom: 5px solid #fff;
    padding-bottom: 6px;
}

.nav2 {
    position: sticky;
    top: 0;
    background-color: #fbfaf5;
    width: 100vw;
    height: 11vh;

}

.nav2 .logo {
    margin-top: 18px;
    height: 33px;
    width: 98px;
    margin-left: 99px;
}

.nav2 ul li {
    font-family: 'Roboto-Regular', 'Helvetica Neue', Helvetica, Tahoma, Arial, Sans-serif;
    display: inline;
    margin-left: auto;
    font-size: 15px;
    padding: 0px 10px;
    cursor: pointer;
    color: black;
    margin-right: 10px;
    margin-top: 20px;
}

.nav2 ul {
    margin-left: 40px;
    margin-top: 28px;
}

.nav2 .searchicon {
    width: 25px;
    height: 25px;
    margin-top: 34px;
}

input[type="search"] {
    border-top-style: none;
    border-left-style: none;
    border-right-style: none;
    border-bottom: 2px solid rgb(52, 49, 49);
    margin-left: 100px;
    margin-bottom: 10px;
    width: 152px;
    padding-bottom: 3px;
    padding-right: 7px;
    padding-left: 7px;
    padding-top: 11px;
    background: #fbfaf5;
    letter-spacing: 1px;
}

.nav2 .firsticon {
    margin-left: 50px;
}

.nav2 .icon{
    margin-top: 22px;
    height: 50px;
    width: 56px;
    
}


.img-container img {
    width: 100%;
}